body {
    text-align: center;    
    background: #ffffff url('../images/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}


.score-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    width: 600px;
    margin-bottom: 10px;
}